body {
  background-image: radial-gradient(orange, red, black);
}

h1 {
  color: red;
  text-align: center;
  background-image: linear-gradient(green, blue);
  font-size: 70px;
  font-family: 'Libre Baskerville', serif;
}

h2 {
  color: black;
  text-align: center;
  font-size: 45px;
  font-family: 'Libre Baskerville', serif;
}

h3 {
  color: limegreen;
  font-size: 35px;
  font-family: 'Libre Baskerville', serif;
}

p {
  text-indent: 50px;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

.topnav {
  background-color: black;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
  background-color: blue;
  color: red;
}
.topnav a.active {
  background-color: orange;
  color: red;
}

.footernav a:link {
 color: orange;
}
.footernav a:hover {
 color: red;
}
footer {
 background-image: linear-gradient(green, blue);
 text-align: center;
 padding: 14px 16px;
}

.jensen_past a {
  float: left;
  background-color: black;
  color: green;
  text-align: center;
  padding: 34px 36px;
  text-decoration: none;
  font-size: 40px;
}

.jensen_past a:hover {
  background-color: blue;
  color: red;
}

.strawberry_past a {
  float: left;
  background-color: black;
  color: green;
  text-align: center;
  padding: 34px 36px;
  text-decoration: none;
  font-size: 40px;
}

.strawberry_past a:hover {
  background-color: blue;
  color: red;
}
