body {
  background-image: radial-gradient(orange, red, black);
}

.topnav {
  background-color: black;
  display: flex;
}
.topnav a {
  float: left;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
    background-color: blue;
    color: red;
}
.topnav a.active {
  background-color: orange;
  color: red;
}

@media screen and (max-width: 500px) {
  .topnav {
    flex-direction: column;
  }
}

h1 {
  color: red;
  text-align: center;
  font-size: 70px;
  background-image: linear-gradient(green, blue);
  font-family: 'Libre Baskerville', serif;
}

h2 {
  color: red;
  text-align: center;
  font-size: 60px;
  background-image: linear-gradient(green, blue);
  font-family: 'Libre Baskerville', serif;
}

@media (max-width: 500px) {
  h1 {
    font-size: 50px;
    max-width: 500px;
  }
}

@media (max-width: 500px) {
  h2 {
    font-size: 40px;
    max-width: 500px;
  }
}

p{
  text-indent: 50px;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

h3 {
  color: blue;
  font-family: 'Libre Baskerville', serif;
  font-size: 25px;
}

h5 {
  font-size: 20px;
  color: limegreen;
}


* {box-sizing: border-box;}
.All-Time Biggest Fish {display: none;}
img {vertical-align: middle;}
.slideshow-container {
  max-width: 1200px;
  height: auto;
  position: relative;
  margin: auto;
}

.dots {
  text-align: center;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: white;
}

@media only screen and (max-width: 1200px) {
    .slideshow-container {
      max-width: 1100px;
    }
}

@media only screen and (max-width: 1100px) {
    .slideshow-container, .dots {
      display: none;
    }
}

#disclaimer {
  text-indent: 0px;
  font-size: 18pt;
}

table {
  border-collapse: collapse;
  width: 50%;
}
td, th {
  border: 1px solid green;
  text-align: left;
  padding: 8px;
  color: black;
}
tr:nth-child(odd) {
  background-color: orange;
}

.home_tables {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.home_tables_head {
  text-align: center;
  font-size: 26pt;
  color: black;
  width: 943px;
}

.home_tables_header {
  color: black;
  font-size: 16pt;
}

.home_tables_content {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 14pt;
}

.home_tables_data {
  text-align: center;
}

@media (max-width: 1000px) {
    .home_tables, .home_tables_content {
      max-width: 80%;
    }
}

.overall_stats table {
  border-collapse: collapse;
  width: 100%;
}
.overall_stats td, th {
  border: 1px solid green;
  text-align: center;
  padding: 8px;
  color: white;
}
.overall_stats tr:nth-child(odd) {
  background-color: black;
}
.overall_stats tr:nth-child(even) {
  background-color: grey;
}

#my_name {
  font-size: 22pt;
  color: black;
}

.footernav a:link {
 color: white;
}
.footernav a:visited {
 color: orange;
}
.footernav a:hover {
 color: red;
}

footer {
 background-image: linear-gradient(green, blue);
 text-align: center;
 padding: 14px 16px;
}

@media (max-width: 500px) {
  #jasons_muskie {
    display: none;
  }
}
