body {
  background-color: darkblue;
}

.topnav {
  background-color: black;
  display: flex;
}
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}
.topnav a:hover {
    background-color: blue;
    color: white;
}
.topnav a.active {
  background-color: green;
  color: white;
}

h1 {
  color: white;
  text-align: center;
  font-size: 70px;
  background-color: darkgreen;
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
}

h2 {
  color: white;
  text-align: center;
  font-size: 60px;
  font-family: 'Libre Baskerville', serif;
}

p{
  color: white;
  text-indent: 50px;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

.overall_stats table {
  border-collapse: collapse;
  width: 100%;
}

.overall_stats td, th {
  border: 1px solid green;
  text-align: center;
  padding: 8px;
  color: white;
}

.overall_stats tr:nth-child(odd) {
  background-color: black;
}
.overall_stats tr:nth-child(even) {
  background-color: grey;
}

.overall_table_heads {
  font-size: 30px;
}

#my_name {
  font-size: 30px;
  color: black;
}

.footernav a:link {
 color: white;
}

.footernav a:hover {
 color: darkblue;
}

footer {
 background-image: linear-gradient(green, blue);
 text-align: center;
 padding: 14px 16px;
}
