body {
  background-image: radial-gradient(limegreen, green, blue);
  color: white;
}

.footernav a:link {
 color: orange;
}
.footernav a:hover {
 color: red;
}
footer {
 background-image: linear-gradient(green, blue);
 text-align: center;
 padding: 14px 16px;
}

h1 {
 color: blue;
 text-align: center;
 font-size: 70px;
 background-image: radial-gradient(yellow, orange, red, black);
 font-family: 'Libre Baskerville', serif;
}

h2 {
  color: black;
  text-align: center;
  font-size: 45px;
  font-family: 'Libre Baskerville', serif;
}

h3 {
  color: red;
  font-size: 35px;
  font-family: 'Libre Baskerville', serif;
}

h4 {
  font-size: 30px;
  color: lightblue;
}

h5 {
  font-size: 20px;
  text-indent: 25px;
}

p {
  text-indent: 50px;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

.lake_data_2018 table {
  border-collapse: collapse;
  width: 100%;
}
.lake_data_2018 td, th {
  border: 1px solid green;
  text-align: center;
  padding: 8px;
  color: white;
  font-size: 17px;
}
tr:nth-child(odd) {
  background-color: black;
}
tr:nth-child(even) {
  background-color: grey;
}

 table {
  border-collapse: collapse;
  width: 40%;
}
 td, th {
  border: 1px solid green;
  text-align: center;
  padding: 8px;
  color: white;
  font-size: 17px;
}
