#closure {
  text-indent: 0;
}

#closure_bold {
  font-size: 27px;
  color: red;
}

#strawberry_head {
  color: white;
  text-align: center;
  font-size: 70px;
  font-family: 'Libre Baskerville', serif;
}

h2 {
  color: white;
  text-align: center;
  font-size: 45px;
  font-family: 'Libre Baskerville', serif;
}

h3 {
  color: red;
  font-size: 35px;
  font-family: 'Libre Baskerville', serif;
}

h4 {
  font-size: 30px;
  color: lightblue;
  font-family: 'Libre Baskerville', serif;
}

h5 {
  color: limegreen;
  font-size: 20px;
  text-indent: 25px;
}

h6 {
  color: lightgrey;
  text-indent: 25px;
  font-size: 18px;
}

ol {
  padding-left: 5%;
}

li {
  color: white;
  font-size: 20px;
  margin: 30px;
  font-style: italic;
}

.lake_data table {
  border-collapse: collapse;
  width: 100%;
}
.lake_data_2018, .lake_data_2019, td{
  border: 1px solid green;
  text-align: center;
  padding: 8px;
  color: white;
  font-size: 17px;
}
tr:nth-child(odd) {
  background-color: black;
}
tr:nth-child(even) {
  background-color: grey;
}

table {
  border-collapse: collapse;
  width: 40%;
}

.lake_name {
  display: flex;
  justify-content: flex-start;
}

.totals_text {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}

.totals_numbers {
  font-weight: bold;
}

.muskie_list {
  text-indent: 100px;
}

#bite_color {
  color: red;
}
