body {
  background-image: radial-gradient(orange, red, black);
}

.footernav a:link {
 color: white;
}
.footernav a:visited {
  color: orange;
}
.footernav a:hover {
 color: red;
}
footer {
 background-image: linear-gradient(green, blue);
 text-align: center;
 padding: 14px 16px;
}

h1 {
 color: red;
 text-align: center;
 font-size: 70px;
 background-image: linear-gradient(green, blue);
 font-family: 'Libre Baskerville', serif;
}

p {
  text-indent: 50px;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

.lakes_adams a {
  float: left;
  background-color: black;
  color: green;
  text-align: center;
  padding: 34px 36px;
  text-decoration: none;
  font-size: 40px;
}

.lakes_adams a:hover {
  background-color: blue;
  color: red;
}

.lakes_east-canyon a {
  float: none;
  background-color: black;
  color: green;
  text-align: center;
  padding: 34px 36px;
  text-decoration: none;
  font-size: 40px;
  top: 22.22%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.lakes_east-canyon a:hover {
  background-color: blue;
  color: red;
}

.lakes_hobbs a {
  float: none;
  background-color: black;
  color: green;
  text-align: center;
  padding: 34px 36px;
  text-decoration: none;
  font-size: 40px;
  top: 24%;
  left: 95%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.lakes_hobbs a:hover {
  background-color: blue;
  color: red;
}

.lakes_holmes a {
  float: left;
  background-color: black;
  color: green;
  text-align: center;
  padding: 34px 36px;
  text-decoration: none;
  font-size: 40px;
}

.lakes_holmes a:hover {
  background-color: blue;
  color: red;
}

.lakes_jensen a {
  float: none;
  background-color: black;
  color: green;
  text-align: center;
  padding: 34px 36px;
  text-decoration: none;
  font-size: 40px;
  top: 37.7%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.lakes_jensen a:hover {
  background-color: blue;
  color: red;
}

.lakes_kaysville a {
  float: none;
  background-color: black;
  color: green;
  text-align: center;
  padding: 34px 36px;
  text-decoration: none;
  font-size: 40px;
  top: 41.25%;
  left: 93.75%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.lakes_kaysville a:hover {
  background-color: blue;
  color: red;
}

.lakes_kens a {
  float: left;
  background-color: black;
  color: green;
  text-align: center;
  padding: 34px 36px;
  text-decoration: none;
  font-size: 40px;
}

.lakes_kens a:hover {
  background-color: blue;
  color: red;
}

.lakes_lost-creek a {
  float: none;
  background-color: black;
  color: green;
  text-align: center;
  padding: 34px 36px;
  text-decoration: none;
  font-size: 40px;
  top: 53.15%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.lakes_lost-creek a:hover {
  background-color: blue;
  color: red;
}

.lakes_pineview a {
  float: none;
  background-color: black;
  color: green;
  text-align: center;
  padding: 34px 36px;
  text-decoration: none;
  font-size: 40px;
  top: 58.4%;
  left: 93.9%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.lakes_pineview a:hover {
  background-color: blue;
  color: red;
}

.lakes_rockport a {
  float: left;
  background-color: black;
  color: green;
  text-align: center;
  padding: 34px 36px;
  text-decoration: none;
  font-size: 40px;
}

.lakes_rockport a:hover {
  background-color: blue;
  color: red;
}

.lakes_strawberry a {
  float: left;
  background-color: black;
  color: green;
  text-align: center;
  padding: 34px 36px;
  text-decoration: none;
  font-size: 40px;
  top: 68.65%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.lakes_strawberry a:hover {
  background-color: blue;
  color: red;
}

.lakes_willard a {
  float: none;
  background-color: black;
  color: green;
  text-align: center;
  padding: 34px 36px;
  text-decoration: none;
  font-size: 40px;
  top: 75.6%;
  left: 94.6%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.lakes_willard a:hover {
  background-color: blue;
  color: red;
}
