body {
  background-image: radial-gradient(orange, red, black);
}

#my_name {
  font-size: 22pt;
  color: black;
}

.topnav {
  background-color: black;
  display: flex;
}
.topnav a {
  float: left;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
    background-color: blue;
    color: red;
}
.topnav a.active {
  background-color: orange;
  color: red;
}

 .footernav a:link {
  color: white;
}
.footernav a:visited {
  color: orange;
}
 .footernav a:hover {
  color: red;
}
 footer {
  background-image: linear-gradient(green, blue);
  text-align: center;
  padding: 14px 16px;
}

h1 {
  color: red;
  text-align: center;
  font-size: 70px;
  background-image: linear-gradient(green, blue);
  font-family: 'Libre Baskerville', serif;
}

p {
  text-indent: 50px;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  color: blue;
  text-align: center;
  font-size: 35px;
  font-family: 'Libre Baskerville', serif;
}

.year_2018 a {
  color: green;
  background-color: black;
  width: 150px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
  padding: 36px 34px;
  margin: 10px;
  text-decoration: none;
}

.year_2018 {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}

.year_2018 a:hover {
  background-color: blue;
  color: red;
}

@media screen and (max-width: 500px) {
  .topnav {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  #jasons_muskie {
    display: none;
  }
}

@media (max-width: 500px) {
  .year_2018 {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
}
