body {
  background-image: radial-gradient(orange, red, black);
}

.topnav {
  background-color: black;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
    background-color: blue;
    color: red;
}
.topnav a.active {
  background-color: orange;
  color: red;
}

 .footernav a:link {
  color: white;
}
.footernav a:visited {
  color: orange;
}
 .footernav a:hover {
  color: red;
}
 footer {
  background-image: linear-gradient(green, blue);
  text-align: center;
  padding: 14px 16px;
}

h1 {
  color: red;
  text-align: center;
  font-size: 70px;
  background-image: linear-gradient(green, blue);
  font-family: 'Libre Baskerville', serif;
}

p {
  text-indent: 50px;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  color: blue;
  text-align: center;
  font-size: 35px;
  font-family: 'Libre Baskerville', serif;
}

.year_2018 a {
  float: left;
  background-color: black;
  color: green;
  text-align: center;
  padding: 34px 36px;
  text-decoration: none;
  font-size: 40px;
}

.year_2018 a:hover {
  background-color: blue;
  color: red;
}
