#year_select {
  font-size: 50px;
}

.years a {
  color: green;
  background-color: black;
  width: 150px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
  padding: 36px 34px;
  margin: 10px;
  text-decoration: none;
}

.years {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}

.years a:hover {
  background-color: blue;
  color: white;
}

.rating_slow {
  color: lightblue;
}

.rating_fair {
  color: yellow;
}

.rating_average {
  color: white;
}

.rating_good {
  color: limegreen;
}

.rating_hot {
  color: red;
}

@media (max-width: 510px) {
  footer {
    display: none;
  }
}
