h3 {
  font-weight: bold;
  font-size: 30px;
  color: white;
  font-family: 'Libre Baskerville', serif;
}

h5 {
  font-size: 20px;
  color: limegreen;
}

.graph_imgs {
  width: 49%;
  height: 500px;
  margin-left: .5%;
}

ul {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 20px;
  width: 50%;
  font-family: 'Quicksand', sans-serif;
  list-style-type: none;
}

ul li {
  background: grey;
  margin: 5px;
}

.rating_slow {
  color: lightblue;
}

.rating_fair {
  color: yellow;
}

.rating_average {
  color: blue;
}

.rating_good {
  color: limegreen;
}

.rating_hot {
  color: red;
}

* {box-sizing: border-box;}
.Top_Biggest_Fish {display: none;}
img {vertical-align: middle;}
.slideshow-container {
  max-width: 1300px;
  height: auto;
  position: relative;
  margin-left: 325px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid green;
  text-align: center;
  padding: 8px;
  color: white;
}
tr:nth-child(odd) {
  background-color: black;
}
tr:nth-child(even) {
  background-color: grey;
}

.year_table_heads {
  font-size: 28px;
}

@media only screen and (max-width: 1125px) {
  table {
    display: none;
  }
}
