h3 {
  color: orange;
  margin: 10px;
}

form {
  width: 50%;
}

.select {
  background-color: black;
}

select {
  background-color: blue;
  color: white;
  font-size: 20px;
  border: 2px solid;
  margin: 10px;
  width: 15%;
}

option:hover {
  background-color: dodgerblue;
}

.chartuese:hover {
  background-color: limegreen;
}

.black:hover {
  background-color: black;
  color: white;
}

.gold:hover {
  background-color: gold;
}

.white:hover {
  background-color: white;
  color: black;
}

.light_blue:hover {
  background-color: lightblue;
}

.orange:hover {
  background-color: orange;
}

.pink:hover {
  background-color: pink;
}

.red:hover {
  background-color: red;
}

.silver:hover {
  background-color: silver;
}

.white_pearl:hover {
  background-color: white;
  color: black;
}

.yellow:hover {
  background-color: yellow;
  color: black;
}

button {
  background-color: limegreen;
  border: none;
  border-radius: 12px;
  color: black;
  font-size: 24px;
  padding: 14px 16px;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  background-color: lime;
}

.msg {
  color: red;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  form {
    width: 100%;
  }
  select {
    width: 42%;
  }
}
