body {
  background-color: darkblue;
}

h1 {
  color: blue;
  text-align: center;
  font-size: 70px;
  background-image: radial-gradient(orange, red, black);
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  font-size: 55px;
  background-image: radial-gradient(orange, red, black);
}

.methods {
  font-size: 55px;
  text-align: left;
  background-image: none;
  color: red;
  margin: 0;
}

h3 {
  color: white;
  font-size: 28px;
}

.species {
  color: white;
  font-size: 40px;
}

h4 {
  font-size: 22px;
  color: orange;
}

p {
  text-indent: 50px;
  font-size: 20px;
  color: white;
}

.nav_logo {
  margin: 0;
  padding: 0;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.topnav a:hover {
  background-color: blue;
  color: red;
}

.topnav a.active {
  background-color: orange;
  color: red;
}

.topnav-right {
  display: flex;
  float: right;
}

* {box-sizing: border-box;}
.All-Time Biggest Fish {display: none;}
img {vertical-align: middle;}
.slideshow-container {
  max-width: 1200px;
  height: auto;
  position: relative;
  margin: auto;
}

.dots {
  text-align: center;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: white;
}

table {
  border-collapse: collapse;
  width: 50%;
}
td, th {
  border: 1px solid green;
  text-align: left;
  padding: 8px;
  color: white;
}

tr:nth-child(odd) {
  background-color: black;
}

tr:nth-child(even) {
  background-color: grey;
}

.home_tables {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.home_tables_head {
  text-align: center;
  font-size: 26pt;
  width: 943px;
}

.home_tables_header {
  text-align: center;
  font-size: 16pt;
}

.home_tables_content {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 14pt;
}

.home_tables_data {
  text-align: center;
}

ul {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 20px;
  width: 50%;
}

ul li {
  background: red;
  margin: 5px;
}

.reasoning {
  width: 50%;
}

.species_img {
  width: 525px;
  height: 300px;
  float: right;
}

.separtor {
  width: 50%;
  float: left;
}

#my_name {
  font-size: 22pt;
  color: black;
}

.footernav a:link {
 color: white;
}
.footernav a:visited {
 color: lightblue;
}
.footernav a:hover {
 color: blue;
}

footer {
 background-image: linear-gradient(orange, red, black);
 text-align: center;
 padding: 14px 16px;
}

@media screen and (max-width: 1000px) {
  .topnav-right {
    flex-direction: column;
    float: left;
  }
}

@media only screen and (max-width: 1200px) {
    .slideshow-container {
      max-width: 1100px;
    }
}

@media only screen and (max-width: 1100px) {
    .slideshow-container, .dots {
      display: none;
    }
}

@media screen and (max-width: 400px) {
  p {
    text-indent: 0px;
    text-align: center;
  }
  table {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .footer_img {
    display: none;
  }
}

@media (max-width: 450px) {
  #my_name {
    font-size: 24px;
    text-align: center;
  }
  #species_effectiveness {
    font-size: 55px;
  }
}

@media screen and (max-width: 600px) {
  ul, .reasoning, .separtor {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .species_img {
    display: none;
  }
}
