body {
  background-image: radial-gradient(white, blue, green);
}

h1 {
  text-align: center;
  font-size: 70px;
  background-image: radial-gradient(orange, red, black);
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  font-size: 55px;
  background-image: radial-gradient(orange, red, black);
}

p {
  text-indent: 50px;
  font-size: 20px;
  color: white;
}

.nav_logo {
  margin: 0;
  padding: 0;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.topnav a:hover {
  background-color: blue;
  color: red;
}

.topnav a.active {
  background-color: orange;
  color: red;
}

.topnav-right {
  float: right;
}

* {box-sizing: border-box;}
.All-Time Biggest Fish {display: none;}
img {vertical-align: middle;}
.slideshow-container {
  max-width: 1200px;
  height: auto;
  position: relative;
  margin: auto;
}

.dots {
  text-align: center;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: white;
}

@media only screen and (max-width: 1200px) {
    .slideshow-container {
      max-width: 1100px;
    }
}

@media only screen and (max-width: 1100px) {
    .slideshow-container, .dots {
      display: none;
    }
}
