h1 {
  text-align: center;
  font-size: 60px;
  background-image: radial-gradient(orange, red, black);
  margin: 0;
  padding: 0;
}

.top_nav {
  display: flex;
  background-color: black;
}

.nav_logo {
  margin: 0;
  padding: 0;
}
