body {
  background-image: radial-gradient(yellow, orange, red, black);
}

.topnav {
  background-color: black;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
    background-color: blue;
    color: red;
}
.topnav a.active {
  background-color: orange;
  color: red;
}

h1 {
  color: red;
  text-align: center;
  font-size: 50px;
  background-color: blue;
  background-image: linear-gradient(green, blue);
}
