body {
  background-image: radial-gradient(yellow, orange, red, black);
}

.topnav {
  background-color: black;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
    background-color: blue;
    color: red;
}
.topnav a.active {
  background-color: orange;
  color: red;
}

 .footernav a:link {
  color: orange;
}
 .footernav a:hover {
  color: red;
}
 footer {
  background-image: linear-gradient(green, blue);
  text-align: center;
  padding: 14px 16px;
}

h1 {
  color: red;
  text-align: center;
  font-size: 70px;
  background-image: linear-gradient(green, blue);
}

p{
  text-indent: 50px;
  font-size: 20px;
}

h2 {
  color: blue;
}

h5 {
  font-size: 20px;
}

* {box-sizing: border-box;}
.All-Time Biggest Fish {display: none;}
img {vertical-align: middle;}
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: white;
}

@media only screen and (max-width: 300px) {

}

table {
  border-collapse: collapse;
  width: 50%;
}
td, th {
  border: 1px solid green;
  text-align: left;
  padding: 8px;
  color: black;
}
tr:nth-child(odd) {
  background-color: orange;
}

.overall_stats table {
  border-collapse: collapse;
  width: 100%;
}
.overall_stats td, th {
  border: 1px solid green;
  text-align: center;
  padding: 8px;
  color: white;
}
.overall_stats tr:nth-child(odd) {
  background-color: black;
}
.overall_stats tr:nth-child(even) {
  background-color: grey;
}
