body {
  background-image: radial-gradient(limegreen, green, blue);
}

.footernav a:link {
 color: orange;
}
.footernav a:hover {
 color: red;
}
footer {
 background-image: radial-gradient(green, blue);
 text-align: center;
 padding: 14px 16px;
}

h1 {
 color: blue;
 text-align: center;
 font-size: 70px;
 background-image: radial-gradient(yellow, orange, red, black);
}

.data_adams_2018 table {
  border-collapse: collapse;
  width: 100%;
}
.data_adams_2018 td, th {
  border: 1px solid green;
  text-align: center;
  padding: 8px;
  color: white;
}
tr:nth-child(odd) {
  background-color: black;
}
tr:nth-child(even) {
  background-color: grey;
}

 table {
  border-collapse: collapse;
  width: 40%;
}
 td, th {
  border: 1px solid green;
  text-align: center;
  padding: 8px;
  color: white;
}
