body {
  background-image: radial-gradient(yellow, orange, red, black);
}

.footernav a:link {
 color: orange;
}
.footernav a:hover {
 color: red;
}
footer {
 background-image: linear-gradient(green, blue);
 text-align: center;
 padding: 14px 16px;
}

h1 {
 color: red;
 text-align: center;
 font-size: 70px;
 background-image: linear-gradient(green, blue);
}

.lakes_adams a {
  float: left;
  background-color: black;
  color: green;
  text-align: center;
  padding: 34px 36px;
  text-decoration: none;
  font-size: 40px;
}

.lakes_adams a:hover {
  background-color: blue;
  color: red;
}

.lakes_east-canyon a {
  float: left;
  background-color: black;
  color: green;
  text-align: center;
  padding: 34px 36px;
  text-decoration: none;
  font-size: 40px;
  float: none;
  transform: (-50%, -50%);
}

.lakes_east-canyon a:hover {
  background-color: blue;
  color: red;
}

.lakes_hobbs a {
  float: left;
  background-color: black;
  color: green;
  text-align: center;
  padding: 34px 36px;
  text-decoration: none;
  font-size: 40px;
  float: none;
  transform: (-50%, -50%);
}

.lakes_hobbs a:hover {
  background-color: blue;
  color: red;
}

.lakes_holmes a {
  float: left;
  background-color: black;
  color: green;
  text-align: center;
  padding: 34px 36px;
  text-decoration: none;
  font-size: 40px;
  float: none;
  transform: (-50%, -50%);
}

.lakes_holmes a:hover {
  background-color: blue;
  color: red;
}
