body {
  background-image: radial-gradient(orange, red, black);
}

#my_name {
  font-size: 22pt;
  color: black;
}

.footernav a:link {
 color: white;
}
.footernav a:visited {
  color: orange;
}
.footernav a:hover {
 color: red;
}
footer {
 background-image: linear-gradient(green, blue);
 text-align: center;
 padding: 14px 16px;
 font-weight: normal;
}

h1 {
 color: red;
 text-align: center;
 font-size: 70px;
 background-image: linear-gradient(green, blue);
 font-family: 'Libre Baskerville', serif;
}

h2 {
  color: red;
  text-align: center;
  font-size: 60px;
  background-image: linear-gradient(green, blue);
  font-family: 'Libre Baskerville', serif;
}

h3 {
  font-weight: bold;
  font-size: 30px;
  color: green;
  font-family: 'Libre Baskerville', serif;
}

h5 {
  font-size: 20px;
}

.rating_slow {
  color: lightblue;
}

.rating_fair {
  color: yellow;
}

.rating_average {
  color: blue;
}

.rating_good {
  color: green;
}

.rating_hot {
  color: red;
}

p{
 text-indent: 50px;
 font-size: 20px;
 font-family: 'Quicksand', sans-serif;
}

.topnav {
  background-color: black;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
    background-color: blue;
    color: red;
}
.topnav a.active {
  background-color: orange;
  color: red;
}

* {box-sizing: border-box;}
.Top 9 Biggest Fish, .Top 8 Biggest Fish {display: none;}
img {vertical-align: middle;}
.slideshow-container {
  max-width: 1300px;
  position: relative;
  margin: auto;
}
.dots {
  text-align: center;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: white;
}

@media only screen and (max-width: 1200px) {
    .slideshow-container {
      max-width: 1100px;
    }
}

@media only screen and (max-width: 1100px) {
    .slideshow-container, .dots {
      display: none;
    }
}

table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid green;
  text-align: center;
  padding: 8px;
  color: white;
}
tr:nth-child(odd) {
  background-color: black;
}
tr:nth-child(even) {
  background-color: grey;
}

.year_table_heads {
  font-size: 28px;
}

@media (max-width: 500px) {
  #jasons_muskie {
    display: none;
  }
}

@media only screen and (max-width: 1125px) {
  table {
    display: none;
  }
}

@media (max-width: 850px) {
  .rating_hot {
    color: black;
  }
}
